@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@1&family=Ubuntu:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: cantarell, sans-serif;
    font-weight: 350;
    color: #0F0C00;
    background-color: #EEDB7A;
}

/* Heading and Logo */

h1, h2, h3, #menu {
    font-family: ubuntu, sans-serif;
    text-transform: uppercase;
    color: #A40002;
    letter-spacing: 5px;
    font-size: 1.25em;
    text-shadow: 1px 1px;
}

#logo {
    float: right;
    width: 100%;
    height: 175px;
    font-size: 220%;
    margin-top: 20px;
    text-align: center;
    line-height: 4px;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    padding: 0 100px 0 0;
    width: 175px;
    float: left;
    margin-right: 40px;

}

#menu {
    font-size: 100%;
    letter-spacing: 5px;
}

#menu, #logo {
    line-height: 40px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 60px;
}

#menu a {
    text-decoration: none;
    color: inherit
}

#menu a:hover {
    border-bottom: 3px solid #67003E;
    font-size: 1.25rem;
}

.active {
    border-bottom: 3px solid #67003E;
}

/* Hero Image Stylying */
#hero-out {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    background: url(../images/main_hall_hero.jpg) no-repeat center center;
    height: 600px;
    width: 100%;
    padding: 20px;

    /* Animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 100%;
    font-family: ubuntu, sans-serif;
    letter-spacing: 2px;
    text-align: justify;

    width: 350px;
    height: 300px;

    padding: 10px;
    
    background-color: rgba(255, 212, 212, 0.6);
    color: #0F0C00;

    top: 80px;
    right: 80px;
    
    position: absolute;
}

/* Styling About us, Video and newsletters */
.about-us {
    height: 400px;
    width: 100%;
    padding: 10px;
}

hr {
    border-top: 4px solid #751800;
    border-radius: 5px;
}

aside iframe {
    width: 394;
    height: 428;
    border: 1px groove #751800;
    margin-top: 30px;

}

#left-about-us {
    padding: 20px 10px 20px 10px;
    width: 60%;
    float: left;
    text-align: justify;
}

#right-about-us {
    padding-top: 20px;
    width: 30%;
    float: right;
}

#right-about-us a:hover{
    border: 1px solid #67003E;
    font-size: 1.25rem;
}

#newsletter {
    height: 70px;
    width: 170px;
    border: 1px groove #751800;
    border-radius: 10px;
    list-style: none;
    overflow: auto;
    margin-top: 20px;
    text-align: center;
}

/* Styling School houses */
#house-cover {
    height: 670px;
    width: 100%;
    text-align: justify;
    padding: 10px;

    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.house-info {
    padding: 30px 10px;
    width: 100%;
    display: block;
}

.house-info p{
    padding: 5px 5px 10px 5px;
}

#house-grid-cover{
    height: 500px;
    width: 100%;
}

.house-left {
    float: left;
    margin: 20px, 20px, 20px, 20px;
    width: 43%;
    height: 200px;
    padding: 20px;
    border: 1px groove #751800;
    border-radius: 10px;
    list-style: none;
    position: relative;
    flex: 50%;
}

.house-left p, .house-right p {
    width: 250px;
}

.house-right {
    float: right;
    margin: 20px, 20px, 20px, 20px;
    width: 43%;
    height: 200px;
    padding: 20px;
    border: 1px groove #751800;
    border-radius: 10px;
    list-style: none;
    position: relative;
    flex: 50%;
}

.crest {
    position: absolute;
    top: 10px;
    right: 40px;
    width: 200px;
    height: 200px;
    clear: both;
    padding: 2px;
    margin: 5px;
}

/* Footer */

footer {
    height: 100px;
}

.social-media {
    text-align: center;
    height: 100px;
}

.social-media li {
    display: inline;
}

.social-media p{
    display: block;
    font-weight: bold;
}

.social-media i {
    font-size: 150%;
    margin: 2%;
    padding: 5%;
    color: black;
}

footer a:hover {
    border: 1px solid black;
}

/* Gallery Style - not complete */
#images {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#images > img {
    width: 100%;
}

/* Contact Us page */
#contactus-image {
    background: url(../images/library-book.jpg) no-repeat center center;
    height: 600px;
    width: 100%;
    padding: 20px;
    opacity: 0.6;
    vertical-align: middle;
 
    margin-top: 250px;
    position: relative;
}

#contactus-cover {
    font-size: 100%;
    font-family: ubuntu, sans-serif;
    letter-spacing: 2px;
    
    vertical-align: middle;
    box-sizing: border-box;
    height: 540px;
    width: 60%;
    padding: 20px;

    position: absolute;
    
    left: 310px;
    top: 325px;
    
    background-color: rgba(41, 0, 1, 0.1);
    color: rgba(41, 0, 1, 1);
}

#top-section {
    font-size: 110%;
    text-align: center;
    padding-bottom: 10px;
}

#contactus-form {
    font-size: 100%;
    text-align: center;
}

.text-input {
    background: transparent;
    color: rgba(41, 0, 1, 1);
    width: 50%;
    height: 30px;
    margin: 5px 0 10px 0;
    overflow: auto;
    border: 1px solid rgba(41, 0, 1, 1);
    border-radius: 5px;
}

.large {
    height: 120px;
}

#contactus-form li {
    list-style-type: none;
}

#contactus-form li label{
    color: #A40002;
}

#contactus-form li select{
    font-family: inherit;
}

.text-input:hover {
    border-color: #67003E;
}

#submit-button {
    font-family: inherit;
    border: 3px double #A40002;
    color: #A40002;
    font-size: 1.25rem;
    margin-top: 10px;
}

#submit-button:hover {
    font-size: 1.45rem;
    border: 3px double #67003E;
}

/* media queries */

/* for larger to medium screens size from 1200 px wide and down */
@media screen and (max-width: 1200px) {
    #logo {
        font-size: 180%;
        margin-right: 0;
    }

    #logo img {
        width: 150px;
        padding: 0;
    }

    #cover-text {
        font-size: 90%;
    }

    #left-about-us {
        padding: 30px 10px;
    }

    .house-left, .house-right {
        width: 400px;
        font: 70%;
        margin-bottom: 10px;
        left: 60px;
    }

    .crest {
        width: 101px;
        height: auto;
        top: 50px;
        right: 20px;
    }

    .house-left p, .house-right p {
        width: 240px;
    }

    hr {
        display: none;
    }

    #images {
        column-count: 3;
    }
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #logo {
        font-size: 125%;
        margin-right: 0;
        height: 140px;
        line-height: 20px;
    }

    #logo img {
        width: 100px;
        padding: 0;
    }

    .about-us {
        width: 580px;
    }

    #right-about-us {    
        height: 768px;
    }

    #cover-text {
        font-size: 70%;
        height: 155px;
    }

    #house-cover {
        height: 1270px;
    }

    .house-left, .house-right {
        width: 400px;
        font: 60%;
        margin-bottom: 10px;
        left: 60px;
        float: none;
    }

    #house-grid-cover{
        height: 1000px;
    }

    .crest {
        width: 101px;
        height: auto;
        top: 50px;
        right: 20px;
    }

    .house-left p, .house-right p {
        width: 240px;
    }
    
    #images {
        column-count: 2;
    }

    footer {
        font-size: 70%
    }

    #contactus-cover {
        left: 190px;
        font-size: 70%
    }
}

/* For small and mobile screen sizes from 600px wide and down */
@media screen and (max-width: 600px) {
    #logo {
        font-size: 55%;
        line-height: 15px;
        letter-spacing: 2px;
        text-shadow: none;
        height: 75px;
    }

    #logo img {
        width: 75px;
    }

    #menu {
        font-size: 45%;
        letter-spacing: 1px;
        text-align: center;
        line-height: 8px;
    }

    #menu li {
        float: center;
    }

    #hero-out, #hero-image {
        height: 300px;
    }

    #cover-text {
        font-size: 40%;
        width: 150px;
    }

    #left-about-us, #right-about-us {
        width: 100%;
    }

    #right-about-us {
        padding: 10px;
        height: 350px;
        margin: auto;
    }

    #right-about-us aside, #right-about-us h2 {
        margin-left: 180px;
    }

    #house-cover {
        height: 1470px;
    }

    .house-left, .house-right {
        width: 300px;
    }

    .house-left p, .house-right p {
        width: 210px;
        padding: 0;
        font: 55%;
    }

    .crest {
        width: 70px;
    }

    #images {
        column-count: 1;
    }

    footer {
        font-size: 60%
    }

    #contactus-image {
        margin-top: 100px;
    }

    #contactus-cover {
        top: 150px;
        width: 80%;
        left: 60px;
        font-size: 40%
    }
}