@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@1&family=Ubuntu:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: cantarell, sans-serif;
    font-weight: 350;
    color: #0F0C00;
    background-color: #EEDB7A;
}

/* Heading and Logo */

h1, h2, h3, #menu {
    font-family: ubuntu, sans-serif;
    text-transform: uppercase;
    color: #A40002;
    letter-spacing: 5px;
    font-size: 1.25em;
    text-shadow: 1px 1px;
}

#logo {
    float: right;
    width: 1200px;
    height: 175px;
    font-size: 250%;
    margin-right: 80px;
    margin-top: 30px;
    text-align: center;
    line-height: 4px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    padding: 0 100px 0 0;
    width: 175px;
    float: left;
}

#menu {
    font-size: 100%;
    letter-spacing: 5px;
}

#menu, #logo {
    line-height: 40px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 60px;
}

#menu a {
    text-decoration: none;
    color: inherit
}

#menu a:hover {
    border-bottom: 3px solid #67003E;
    font-size: 1.25rem;
}

.active {
    border-bottom: 3px solid #67003E;
}

/* Hero Image Stylying */
#hero-out {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    background: url(../images/main_hall_hero.jpg) no-repeat center center;
    height: 600px;
    width: 100%;
    padding: 20px;

    /* Animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 100%;
    font-family: ubuntu, sans-serif;
    letter-spacing: 2px;
    text-align: justify;

    width: 350px;
    height: 300px;

    padding: 10px;
    
    background-color: rgba(255, 212, 212, 0.6);
    color: #0F0C00;

    top: 80px;
    right: 80px;
    
    position: absolute;
}

/* Styling About us, Video and newsletters */
.about-us {
    height: 400px;
    padding: 10px;
}

hr {
    border-top: 4px solid #751800;
    border-radius: 5px;
}

aside iframe {
    width: 394;
    height: 428;
    border: 1px groove #751800;
    margin-top: 10px;
}

#left-about-us {
    padding: 30px 10px;
    width: 60%;
    float: left;
    text-align: justify;
}

#right-about-us {
    padding-top: 30px;
    width: 30%;
    float: right;
}

#right-about-us a:hover{
    border: 1px solid #67003E;
    font-size: 1.25rem;
}

#newsletter {
    height: 70px;
    width: 170px;
    border: 1px groove #751800;
    border-radius: 10px;
    list-style: none;
    overflow: auto;
}

/* Styling School houses */
.house {
    padding: 20px;
    text-align: left;
    text-align: justify;
}

.house-left {
    float: left;
    width: 46.5%;
    height: 200px;
    padding: 20px;
    border: 1px groove #751800;
    border-radius: 10px;
    list-style: none;
    position: relative;
}

.house-left p {
    width: 300px;
    text-align: justify;
}

.house-right {
    float: right;
    width: 46.5%;
    height: 200px;
    padding: 20px;
    border: 1px groove #751800;
    border-radius: 10px;
    list-style: none;
    position: relative;
}

.house-right p {
    width: 300px;
    text-align: justify;
}

.crest {
    position: absolute;
    top: 10px;
    right: 40px;
    width: 200px;
    height: 200px;
    clear: both;
    padding: 2px;
    margin: 5px;
}

/* Footer */

footer {
    height: 100px;
}

.social-media {
    text-align: center;
    height: 100px;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    margin: 2%;
    padding: 5%;
    color: black;
}

footer a:hover {
    border: 1px solid black;
}

/* Gallery Style - not complete */
#images {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#images > img {
    width: 100%;
}

/* Contact Us page */
#contactus-image {
    background: url(../images/library-book.jpg) no-repeat center center;
    height: 600px;
    width: 100%;
    padding: 20px;
    opacity: 0.6;;

    margin-top: 250px;

    position: relative;
}

#contactus-cover {
    font-size: 100%;
    font-family: ubuntu, sans-serif;
    letter-spacing: 2px;
    
    vertical-align: middle;
    box-sizing: border-box;
    height: 540px;
    width: 60%;
    padding: 20px;

    position: absolute;
    
    left: 280px;
    top: 325px;
    
    background-color: rgba(41, 0, 1, 0.1);
    color: rgba(41, 0, 1, 1);
}

#top-section {
    font-size: 110%;
    text-align: center;
    padding-bottom: 10px;
}

#contactus-form {
    font-size: 100%;
    text-align: center;
}

.text-input {
    background: transparent;
    color: rgba(41, 0, 1, 1);
    width: 50%;
    height: 30px;
    margin: 5px 0 10px 0;
    overflow: auto;
    border: 1px solid rgba(41, 0, 1, 1);
    border-radius: 5px;
}

.large {
    height: 120px;
}

#contactus-form li {
    list-style-type: none;
}

#contactus-form li label{
    color: #A40002;
}

#contactus-form li select{
    font-family: inherit;
}

.text-input:hover {
    border-color: #67003E;
}

#submit-button {
    font-family: inherit;
    border: 3px double #A40002;
    color: #A40002;
    font-size: 1.25rem;
    margin-top: 10px;
}

#submit-button:hover {
    font-size: 1.45rem;
    border: 3px double #67003E;
}
