@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@1&family=Ubuntu:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: cantarell, sans-serif;
    font-weight: 350;
    color: #0F0C00;
    background-color: #EEDB7A;
}

/* Heading and Logo */

h1, h2, h3, #menu {
    font-family: ubuntu, sans-serif;
    text-transform: uppercase;
    color: #A40002;
    letter-spacing: 5px;
    font-size: 1.5em;
}

#logo {
    float: right;
    font-size: 300%;
    margin-right: 80px;
    margin-top: 10px;
    text-align: center;
}

#logo img {
    border-radius: 4px;
    padding: 5px;
    width: 175px;
}

#menu {
    font-size: 100%;
    letter-spacing: 5px;
}

#menu, #logo {
    line-height: 40px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 60px;
}

#menu a {
    text-decoration: none;
    color: inherit
}

#menu a:hover {
    border-bottom: 3px solid #67003E;
}

.active {
    border-bottom: 3px solid #67003E;
}

/* Hero Image Stylying */
#hero-out {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    background: url(../images/main_hall_hero.jpg) no-repeat center center;
    height: 600px;
    width: 100%;
    margin: 0 20px;
}

#cover-text {
    font-size: 100%;
    font-family: ubuntu, sans-serif;
    letter-spacing: 2px;
    text-align: justify;

    width: 350px;
    height: 300px;

    padding: 10px;
    
    background-color: rgba(255, 212, 212, 0.6);
    color: #0F0C00;

    top: 80px;
    right: 80px;
    
    position: absolute;
}

/* Styling About us, Video, School houses and newsletters */
.about-us {
    height: 400px;
}

aside iframe {
    width: 394;
    height: 428;
}

#left-about-us {
    padding: 30px 10px;
    width: 65%;
    float: left;
    text-align: justify;
}

#right-about-us {
    padding-top: 50px;
    width: 30%;
    float: right;
}

#right-about-us a:hover{
    border: 1px solid #67003E;
    font-size: 1.25rem;
}

#house {
    padding: 20px;
    text-align: left;
}

#house-left {
    float: left;
    width: 46.5%;
    height: 200px;
    padding: 20px;
    border: 1px solid black;
    list-style: none;
    position: relative;
}

#house-left p {
    width: 300px;
    text-align: justify;
}

#house-right {
    float: right;
    width: 46.5%;
    height: 200px;
    padding: 20px;
    border: 1px solid black;
    list-style: none;
    position: relative;
}

#house-right p {
    width: 300px;
    text-align: justify;
}

#crest {
    position: absolute;
    top: 10px;
    right: 40px;
    width: 200px;
    height: 200px;
    clear: both;
    padding: 2px;
    margin: 5px;
}

/* Footer */

footer {
    height: 100px;
}

.social-media {
    text-align: center;
    height: 100px;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    margin: 2%;
    padding: 5%;
    color: black;
}

footer a:hover {
    border: 1px solid black;
}
